Python Docstring Examples
=========================
> Examples of several styles of Python docstring.

Table of Contents
=================
{% for style in styles %}
  * [{{style}}](#{{style|slug}}){% endfor %}

{% for style in styles %}
{{style}}
{{ '=' * (style|length) }}
```python
{% include 'styles/' + style + '.py' %}
```

{% endfor %}
